@use 'variables' as *;

.header {
  height: 50px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;

  &-menu {
    display: flex;
    gap: 10px;
  }

  &-title {
    color: white;
    background-color: $primary-color;
    height: 65%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
  }
}

.header-button {
  width: 100px;
  border-radius: 0px;
}